<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849090647277-8gas03qb92m673attij8ajbjgmoso24e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849090647277-8gas03qb92m673attij8ajbjgmoso24e</string>
	<key>API_KEY</key>
	<string>AIzaSyBMlLWhUQlQ2ylxbo5ncXi8Q6O-zeDfJVI</string>
	<key>GCM_SENDER_ID</key>
	<string>849090647277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autismPerdictionApp</string>
	<key>PROJECT_ID</key>
	<string>autism-gemastik</string>
	<key>STORAGE_BUCKET</key>
	<string>autism-gemastik.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849090647277:ios:1b98b336b09b90a51d28e4</string>
</dict>
</plist>